<div id="<%= dom_id friends_db %>">
  <p>
    <strong>First name:</strong>
    <%= friends_db.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friends_db.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friends_db.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friends_db.phone %>
  </p>

  <p>
    <strong>Tweeter:</strong>
    <%= friends_db.tweeter %>
  </p>
</div>


<%# <table class="table">
</table> %>
